body {
    min-height: 740px;
    background: #eee;
    margin: 0;
    padding: 0;

    font-size: 14px;
    font-family: Arial;
}

/* list */
#list {
    width: 630px;
    margin-left: auto;
    margin-right: auto;

}
.item {
    width: 250px;
    height: 287px;
    margin: 20px;
    padding: 10px;
    float: left;
    border-radius: 4px;
    border: 1px solid gray;
    text-align: center;
    background: #fff;
    overflow: hidden;
    cursor: pointer;
}
.item > img {
    width: 100%;
    height: auto;
}

/*  player */
#modal-popup {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    min-height: 100%;
    z-index: 1000;

    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";

}
#modal-container {
    left: 50%;
    top: 14%;
    position: absolute;
    width: 710px;
    margin-left: -355px;

    border-radius: 4px;
    border: 1px solid gray;
    background: #fff;
}
#modal-title {
    font-size: 18px;
    line-height: 40px;
    border-bottom: 1px solid gray;
    padding: 0 20px;
}
#modal-content {
    text-align: center;
}
#modal-content > img {
    width: auto;
    height: 100%;
}
#modal-controls {
    text-align: center;
    line-height: 30px;
    border-top: 1px solid gray;
}
.controls {
    margin: 0 10px;
    padding: 2px 10px;
    border: 1px solid gray;
    border-radius: 4px;
    cursor: pointer;
}
.controls:hover {
    background: #eee;
}
#slide-label {
    margin: 0 10px;
    padding: 2px 10px;
}